@import './settings.css';

body {
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

top-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

svg-el {
  display: flex;
  justify-content: center;
}
