@import './settings.css';
@import './skills.css';
body {
  background: var(--yellow);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Deutschlander";
}

top-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "newsflash";
}

svg-el {
  display: flex;
  justify-content: center;
}

body-container {
  display: flex;
  flex-flow: column;
}

body-container column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

column #column-title {
  font-family: "newspapers";
}

skills-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
