@import './settings.css';
@import './skills.css';

body {
  background: var(--yellow);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  font-family: "Deutschlander";
}

top-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "newsflash";
}

svg-el {
  display: flex;
  justify-content: center;
}

body-container {
 display: grid;
 grid-template-columns: 20vw 50vw 20vw;
 grid-gap: 10px;
}

body-container column {
  display: flex;
  flex-flow: column;
  border:solid 1px black;
  min-height: 500px;
  margin: 40px 0;
}

body-container column column-title{
  display: flex;
  align-self: center;
  font-size: 40px;
  transform: translateY(-45px);
}

skills-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
