skill-column {
  width: 30%;
  height: 130px;
  margin: 10px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: "newsflash";
}

skill-info skill-title {
  font-size: 25px;
  margin-top: 5px;
}

skill-column img {
  height: 7vw;
  width: 7vw;
  max-height: 50px;
  max-width: 50px;
}

skill-column skill-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

skill-column skill-stars {
  margin: 10px 0;
}

skill-column skill-stars svg {
  height: 2vw;
  max-height: 15px;
  margin: 0 4px;
}
